<!DOCTYPE html><html><head><title></title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-social.css">
<link rel="stylesheet" href="/stylesheets/style.css"></head>
<body><div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to iTerm 4.0</h1>
            <a href="/login/facebook" class="btn btn-block btn-social btn-facebook">Login with Facebook<i class="fa fa-facebook"></i></a>
        </div>
    </div>
    </div>
     </body>
     </html>
