<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/bootstrap-3.3.2-dist/css/bootstrap.min.css' />
  </head>
  <body>
    <%- body % >
    <script src='/bootstrap-3.3.2-dist/js/bootstrap.min.js'></script>
  </body>
</html>
